@font-face {
  font-family: "frutigel";
  src: url("../fonts/frutigel.ttf");
}

$headerSystemStatusClearance: 20px;
$headerHeight: 45px;
$headerTotalHeight: $headerSystemStatusClearance + $headerHeight;

$arrowWidth: 90px;
$audioHeight: 30px;

$phone: "only screen and (max-width: 767px)";
$tablet: "only screen and (min-width: 768px)";
$landscape: "(orientation:landscape)";
$portrait: "(orientation:portrait)";

$standardFontFamily: "Century Gothic","frutigel", "Helvetica Neue", "Droid Sans", sans-serif;
$standardPadding: 5px;
$cornerRadius: 5px;
$navBarWidth: 250px;


$videoAspectRatio: 1.7777777778;

$tabHeight: 40px;
$sextantCapturedImageHeight: 222px;

$topicHeaderHeight: 128px;
$topicListItemHeight: 142px;
$iphone6Height: 667px;
$iphone6Width: 375px;

$itemHeight: 40px;

$contentTextColor: black;
$navBackgroundColor: #1d2b23;
$navTextColor: #9b9e9d;

$upperGalleryColor: #71b4b2;
$entranceGalleryColor: #deaf54;
$basementGalleryColor: #b76c61;

$upperGallerySecondColor: #68adab;
$entranceGallerySecondColor: #d49828;
$basementGallerySecondColor: #b36559;

$mapIconBackgroundColor: #e0ddb3;
$mapIconTextColor: #1d2b23;
$contentOverlayZIndex: 1000;

$markerDiameter: 25px;

@mixin objectTitle {
    padding:10px 20px 10px 20px;
    font-size: 20px;
    color: white;
    text-align: left;
    position: relative;
    top: $topicHeaderHeight - 50px;
    border: none;
    display: inline-block;
    
    .fa-chevron-right {
        font-size: 0.8em;
        padding-left: 1em;
    }
}
