@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/Century Gothic.ttf");
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none; /* Disable selection/copy in UIWebView */
}

$headerSystemStatusClearance: 20px;
$headerHeight: 45px;
$headerTotalHeight: $headerSystemStatusClearance + $headerHeight;
$headerColour: #1d2b23;

$arrowWidth: 90px;
$audioHeight: 30px;

$phone: "only screen and (max-width: 767px)";
$tablet: "only screen and (min-width: 768px)";
$phone_vsmall: "only screen and (max-height: 481px)";
$phone_small: "only screen and (max-height: 666px)";
$phone_square: "only screen and (min-aspect-ratio: 32/56)";
$landscape: "(orientation:landscape)";
$portrait: "(orientation:portrait)";

$standardFontFamily: "Century Gothic", "Helvetica Neue", "Droid Sans", sans-serif;
$standardPadding: 5px;
$cornerRadius: 5px;
$navBarWidth: 250px;


$videoAspectRatio: 1.7777777778;

$tabHeight: 40px;
$sextantCapturedImageHeight: 222px;
$sextantCapturedImageHeightIpad: 440px;

$topicHeaderHeight: 128px;
$topicListItemHeight: 142px;
$ipadHeight: 1024px;
$iphone6Height: 667px;
$iphone6Width: 375px;

$itemHeight: 40px;

$contentTextColor: #555;
$navBackgroundColor: #1d2b23;
$navTextColor: #555;
$beaconPulseColor: #1d2b23;

$upperGalleryColor: #71b4b2;
$entranceGalleryColor: #deaf54;
$basementGalleryColor: #b76c61;

$mapColor: #e0ddb3;
$contentOverlayZIndex: 1000;

$markerDiameter: 30px;

@mixin objectTitle {
    padding:15px 25px 15px 35px;
    font-size: 1em;
    color: white;
    text-align: left;
    position: absolute;
    bottom: 0px;
    border: none;
    display: inline-block;
    
    .fa-chevron-right {
        font-size: 0.8em;
        padding-left: 1em;
    }
}

@mixin contentTitle {
    padding:15px 25px 15px 35px;
    font-size: 0.9em;
    color: white;
    text-align: left;
    position: absolute;
    bottom: 0px;
    border: none;
    display: inline-block;
    
    .fa-chevron-right {
        font-size: 0.8em;
        padding-left: 1em;
    }
    @media #{$phone_small} {
      font-size: 0.90em;
    }
    @media #{$phone_vsmall} {
      font-size: 1.0em;
    }
}

@mixin interactiveButton {
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    margin-top: 8px;
    border: 2px solid #111;
    background: #923841;
    color: white;
    font-size: 1.4em;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #ddaaaa;
    width:95%;
    &:active {
        background: #501f24;
        border-color: #aa6666;
        color: #aa6666;
    }
}
