@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/Century Gothic.ttf");
}

$headerSystemStatusClearance: 20px;
$headerHeight: 45px;
$headerTotalHeight: $headerSystemStatusClearance + $headerHeight;

$arrowWidth: 90px;
$audioHeight: 30px;

$phone: "only screen and (max-width: 767px)";
$tablet: "only screen and (min-width: 768px)";
$landscape: "(orientation:landscape)";
$portrait: "(orientation:portrait)";

$standardFontFamily: "Century Gothic", "Helvetica Neue", "Droid Sans", sans-serif;
$standardPadding: 5px;
$cornerRadius: 5px;
$navBarWidth: 250px;


$videoAspectRatio: 1.7777777778;

$tabHeight: 40px;
$sextantCapturedImageHeight: 222px;

$topicHeaderHeight: 128px;
$topicListItemHeight: 142px;
$iphone6Height: 667px;
$iphone6Width: 375px;

$itemHeight: 40px;

$contentTextColor: #555;
$navBackgroundColor: #1d2b23;
$navTextColor: #555;

$upperGalleryColor: #71b4b2;
$entranceGalleryColor: #deaf54;
$basementGalleryColor: #b76c61;

$mapColor: #e0ddb3;
$contentOverlayZIndex: 1000;

$markerDiameter: 30px;

@mixin objectTitle {
    padding:15px 25px 15px 35px;
    font-size: 1em;
    color: white;
    text-align: left;
    position: absolute;
    bottom: 0px;
    border: none;
    display: inline-block;
    
    .fa-chevron-right {
        font-size: 0.8em;
        padding-left: 1em;
    }
}
