@import "_common.scss";

// .pr-header-container {
//   padding-top: 0px;
// }
// 
// .content {
//   top: 40px;
// }

.interactive.blackboard {
    overflow: hidden;
    .video-player {
      top:180px;
      
    }

    .transport-controls {
      display:none;
    }
}
