.explanations {
    display: none;
}

.ui {
    .content {
        .background {
            display: none;
        }
        
        .blackboard {
            
        }
        
        .name {
            
        }
        
        .description {
            
        }
    }
    
    .controls {
        .background {
            display: none;
        }
        
        .previous {
            
        }
        
        .next {
            
        }
        
        .progress {
            .index {
                
            }
            
            .total {
                
            }
        }
    }
}
