@import "_common.scss";

.interactive.blackboard {
    background-color: $headerColour;
    overflow: hidden;
    .video-player {
      top:180px;
    }

    .transport-controls {
      display:none;
    }
}
@media #{$tablet} {
  .interactive.blackboard:before {
      content:"";
      background-image: url(../img/objects/blackboard/einsteins-video-background.jpg);
      background-size: cover;
      position: absolute;
      height: 100%;
      width: 100%;
  }
  .interactive.blackboard{
    background-color: transparent;
    .video-player {
      top:100px;
    }
    .transport-controls {
      display:block;
      bottom: -328px ;
    }
  }
}
.android {
  .interactive.blackboard {
    .transport-controls {
      display: block;
      bottom: 127px;
    }
    .video-player {
      bottom: -110px;
    }
  }
}

video::-webkit-media-controls-start-playback-button {
  display: none;
}
