@import "_common.scss";

.explanations {
    display: none;
}

.ui {
    position: relative;
    height: 100%;
    
    .gallery {
        position: relative;
        height: 100%;
        
        .zoom-view {
            position: absolute;
            top: 0;
            bottom: 24px;
            left: 0;
            right: 0;
            z-index: 2;
            
            &.hidden {
                display: none;
            }
            
            .blackboard {
                height: auto;
                width: 100%;
            }
        }
        
        .background {
            display: none;
        }
        
        .blackboard {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 260px;
        }
        
        .name {
            // background-color: green;
        }
        
        .roles {
            // background-color: yellow;
        }
        
        .descriptive-text {
            // background-color: teal;
        }
        
        .scroll-container {
            margin-top: 10px;
            position: relative;
            height: $iphone6Height - $headerHeight - (3 * $headerPadding) - 260px - 24px - 10px;
            overflow-y: auto;
            
            &.hidden {
                display: none;
            }
        }
        
        p {
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 0;
            text-align: justify;
            
            &.author {
                margin-top: 0;
                text-align: center;
                font-weight: bold;
            }
            
            &.role {
                font-style: italic;
                font-size: 85%;
            }
            
            span.postscript {
                font-size: 85%;
            }
            
            span.title {
                font-weight: bold;
            }
        }
    }
    
    .controls {
        position: fixed;
        width: 100%;
        bottom: 0;
        text-align: center;
        background-color: white;
        padding-top: 3px;
        padding-bottom: 3px;
        height: 24px;
        
        .background {
            display: none;
        }
        
        .previous {
            float: left;
        }
        
        .next {
            float: right;
        }
        
        .progress {
            display: inline-block;
            
            .index {
                
            }
            
            .total {
                
            }
        }
    }
}
