@import "_common.scss";


@font-face {
  font-family: "digital7";
  src: url("../fonts/digital-7.ttf");
}

$smallClockWidth: 40%;
$smallClockInset: 6%;
$tenHourClockWidth: 100%;
$tenHourClockTop: 14%;
$tenHourClockTopTablet: 16%;
$tenHourClockWidthTablet: 75%;
$tenHourClockLeftTablet: 13%;

#interact-clock {
    background: url(../img/objects/armillary/clock-bg.png);
    height: $iphone6Height - $headerHeight;
    body.ios & {
      height: $iphone6Height - $headerTotalHeight;
    }
    
    #clocks {
        #twenty-four {
            width: 50%;
        }
        #ten {
            width: 50%;
            
        }
        
    }
    
}

.clock-face {
  position: absolute;
  z-index: 10;
  text-align: center;
  img {
    z-index: 20;
    width: 100%;
  }
  &#ten-hr {
      pointer-events: none;
    background: url(../img/objects/armillary/ten-hr-face.png);
    background-size: $tenHourClockWidth;
    background-repeat: no-repeat;
    background-position: 50% 0px;
    height: 400px;
    width: 100%;
    top: $tenHourClockTop;
    
    @media #{$tablet} {
        background-size: $tenHourClockWidthTablet;
        top: $tenHourClockTopTablet;
        height: 750px;
    }
    
    img {
      position: relative;
      width: $tenHourClockWidth;
      left: 0;
      
      @media #{$tablet} {
          width: $tenHourClockWidthTablet;
      }
    }
  }
  &#twenty-four_min {
    width: $smallClockWidth;
    left: $smallClockInset;
    z-index: 20;
  }
  &#twenty-four_hour {
    z-index: 15;
    background: url(../img/objects/armillary/twelve-hr-face.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: $smallClockWidth;
    left: $smallClockInset;
  }
  
}

#twenty-four-cap {
    width: $smallClockWidth;
    left: $smallClockInset;
    position: absolute;
    z-index: 30;
}

#ten-hr-cap {
    position: absolute;
    z-index: 30;
    width: $tenHourClockWidth;
    top: $tenHourClockTop;
    pointer-events: none;
    @media #{$tablet} {
        width: $tenHourClockWidthTablet;
        left: $tenHourClockLeftTablet;
        top: $tenHourClockTopTablet;
    }
    // top: 41.5%;
    // left: 46%;
    // width: 9%;
}

#digital-clock {
  position: absolute;
  left: 50%;
  font-family: "digital7";
  background: url(../img/objects/armillary/digital-face.png);
  background-size: 80%;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  width: 50%;
  height: 40%;
  font-size: 2em;
  .increase-time {
    display: inline;
    float: right;
    position: absolute;
    top: 10%;
    right: 5%;
    @media #{$tablet} {
        font-size: 1.5em;
    }
    i {
      pointer-events: none;
    }
  }
  .decrease-time {
    display: inline;
    position: absolute;
    bottom: 50%;
    @media #{$phone_vsmall} {
        bottom: 38%;
    }
    right: 5%;
    @media #{$tablet} {
        font-size: 1.5em;
        bottom: 38%;
    }
    i {
      pointer-events: none;
    }
  }
  .digital-time {
    font-size: 1em;
    @media #{$tablet} {
        font-size: 200%;
        top: 35%;
    }
    text-align: center;
    display: inline;
    position: absolute;
    top: 26%;
    @media #{$phone_vsmall} {
        top: 32%;
    }
    left: 20%;
  }
}

$globeHeight: 230px;

#globe-clock {
  position: relative;
  top: $iphone6Height - $globeHeight - $headerHeight;
  body.ios & {
    top: $iphone6Height - $globeHeight - $headerTotalHeight;
  }

  background: url(../img/objects/armillary/stars.png);
  background-size: contain;
  .sphere-container {
    height: $globeHeight;
  }
  border-top: 4px solid black;
  z-index: 40;
}
