@import "_common.scss";

$paragraphHeight: 140px;

.globe-interactive {
    p {
        height: $paragraphHeight;
        margin: 10px;
    }
    #globe-view {
        height: $iphone6Height - $headerTotalHeight - $paragraphHeight;
        .sphere-container {
            height: 100%;
            background: url(../img/objects/armillary/clock-bg.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
