@import "_common.scss";

$paragraphHeight: 140px;

.globe-interactive {
    background: url(../img/objects/armillary/clock-bg.png);
    background-size: cover;
    p {
        padding: 20px;
        margin: 0;
        line-height: 1.5em;
        font-weight: bold;
        @media #{$tablet} {
            font-size: 1.2em;
            padding-top: 30px;
            padding-bottom: 30px;
        }    
    }
    #globe-view {
        height: $iphone6Height - $headerHeight - $paragraphHeight;
        body.ios & {
          height: $iphone6Height - $headerTotalHeight - $paragraphHeight;
        }
        .sphere-container {
            height: 100%;
            
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
