@import "_common.scss";

.interactive {
	&#marconi {
		#controls {
		    padding: $standardPadding;
		    position: fixed;
		    bottom: 0;
		    left: 0;
		    height: 120px;
		    width: 100%;
		    background: #333;
			#wireless-button {
				width:100px;
				height:100px;
				border: 2px solid black;
				border-radius: 50%;
				background:#ccc;
				line-height: 100px;
				font-weight: bold;
				text-align: center;
				margin: 0 auto;
			}
		}
	}
}