@import "_common.scss";

.interactive {
	&#marconi {
		#controls {
		    padding: $standardPadding;
		    position: fixed;
		    bottom: 0;
		    left: 0;
		    height: 120px;
		    width: 100%;
		    background: #333;
			#wireless-button {
				@include interactiveButton;
				height: 95px;
				line-height: 91px;
			}
		}
	}
}