@import "_common.scss";


.interactive.moonglobe {
    background-color: #000;
    overflow: hidden;

    
    .video-player {
        //fill screen
        // position: absolute;
        // top: -135px;
        // left: 0px;
    }
    .transport-controls {
      bottom: -60px;
    }
}

.android {
  .interactive.moonglobe {
    .transport-controls {
      bottom: -110px;
    }
    .video-player {
      top: -110px;
    }
  }
}
video::-webkit-media-controls-start-playback-button {
  display: none;
}
