@import "_common.scss";

.interactive.moonglobe {
    background-color: #000;
    overflow: hidden;
    
    .video-player {
        //fill screen
        // position: absolute;
        // top: -135px;
        // left: 0px;
    }
    .transport-controls {
      bottom: -60px;
    }
}
