@import "_common.scss";

@mixin flip() {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}


a {
  text-decoration: none;
}

.pr-header-container {
  padding: $headerPadding 0px;
  text-align: center;
  background-color: white;
  .pr-header {
    z-index: 3;
    height: $headerHeight;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
    .nav-button {
      height: $headerHeight;
      line-height: $headerHeight;
      display: inline-block;
      color: $navTextColor;
      font-size: 1.2em;
      text-decoration: none;
      vertical-align: middle;
      
      a:link {
        color: $navTextColor;
      }
      
      a:visited {
        color: $navTextColor;
      }
      
      a:hover {
        color: $navTextColor;
      }
      
      a:active {
        color: $navTextColor;
      }
      
      &.header-arrow {
        width: $arrowWidth;
      }
      &.arrow-left {
        position:absolute;
        left:$headerPadding;
        text-align:left;
      }
      &.header-home {
        position:absolute;
        right:$headerPadding + 30px;
        text-align:right;
      }
      &.header-info {
        position:absolute;
        right:$headerPadding;
        text-align:right;
      }
    }
  }
}

h1.finished-title {
  margin: 20px 30px;
}

h3.finished-message {
  margin: 20px 30px;
}

p.finished-call-to-action {
  margin: 20px 20px;
}

table.social-links-table {
  padding-top: 30px;
  width: 100%;
  text-align: center;
  tr {
    td {
      a {
        img {
          height: 77px;
          width: 77px;
        }
      }
    }
  }
}

.feedback-button {
  width: 100%;
  padding: 17px 50px ;
  text-align: left;
  background-color: black;
//  border-radius: 10px;
  a {
    color: white;
    text-decoration: none;
  }
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

div.black-bar {
  border-radius: 5px;
  width: auto;
  background: black;
  padding: 5px 12px;
  color: white;
  font-size: 1em;
  line-height: 2.2em;
  text-decoration: none;
  
  &.map-link {
    height: 40px;
  }
}

.map-container {
  display: none;
  position: fixed;
  top:0;
  left:0;
  background-color: black;
  width: 100%;
  height: 400%;
  text-align: center;
  img.map-image {
    max-width: 100%;
    position: relative;
  }
}

.prompt {
  position: fixed;
  background-color: transparent;
  color: white;
  text-align: center;
  width: 100%;
  z-index: 2;

  .user-prompt {
    padding: 10px 0px;
    background-color: black;
    &.title {
      font-size: 1.1em;
    }
    &.subtitle {
      font-size: 0.8em;
      border-bottom: solid 1px grey;
    }
  }
}

.white-edge {
  width: 100%;
  height: 100px;
//  background-color: white;
  background: linear-gradient(transparent, white);
  opacity: 0.8;

}
.button-holder {
  background-color: black;
  width: 100%;

  .prompt-button {
    width: 48%;
    display: inline-block;
    background-color: black;
    font-weight: bold;
    padding: 10px 0px;
    &.no {
      border-right: solid 1px grey;
    }

  }
}

div.code-input {
  text-align: center;
  input {
    border: 1px solid;
    font-size: 1.5em;
    border-radius: 2px;
  }
  img {
    margin-top: 100px;
    width: 85%;
  }
}

.item-image {
  max-height: 300px;
}

div.scan-container {
  height: 1000px;
  #header {
    width: 100%;
    height: 120px;
    background: white;
  }
  .scan-instructions {
    padding: 5px 20px;    
  }
  .preview {
    height: 1000px;
    opacity:0.4;
    background-image: url(../img/moon-sketch.png);
    background-color: white;
    background-size: 500px;
    background-position-x: -70px;
    background-position-y: -120px;
  }
  img {
    width: 100%;
  }
}

.scanned-view {
  background: url(../img/moon/back/moon-back.jpg);
  background-size: 500px;
  background-position-x: -70px;
  height: 1000px;

  .item-title {
    background: white;
    opacity: 0.8;
    padding: 10px 20px 20px 20px;
  }

  video {
    display: none;
  }
}