@import "_common.scss";

.interactive.reckoner {
    overflow: hidden;
    background-color: #000;
    
    .video-player {
        //fill screen
        position: absolute;
        top: -35px;
        left: 0px;
    }
    .transport-controls {
      display:none;
    }
}

video::-webkit-media-controls-start-playback-button {
  display: none;
}
