@import "compass/css3";
@import "_common.scss";


@mixin rounded-corners {
  border-radius: $cornerRadius;
}

html {
  background-color: transparent;
  box-sizing: border-box;
  width:  100%;
  height: 100%;
  overflow: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  position: relative;
  width:  100%;
  height: 100%;
  font-family: $standardFontFamily;
  font-size: 16px;
  @media #{$phone_small} {
    font-size: 14px;
  }
  @media #{$phone_vsmall} {
    font-size: 12px;
  }
  margin:  0;
  padding: 0;
  border:  0;
  outline: 0;
  line-height: 1.2em;
  overflow: hidden;
  background: $headerColour;
  &.transparent-background {
    background: transparent;
  }
}

h1 {
  margin: 0px 10px;
  text-align: center;
  font-size: 1.5em;
  @media #{$phone_small} {
    font-size: 1.2em;
  }
  @media #{$phone_vsmall} {
    font-size: 1.1em;
  }
  line-height: 1.5em;
}

.video-holder {
  @media #{$phone} and #{$landscape} {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

video {
    width: 100%;
    &.finished {
//      Shrink down the video once it's finished in order to reveal the start button
      @media #{$phone} and #{$landscape} {
        height: 200px;
        width: 200px * $videoAspectRatio;
      }
    }
  }

  @include transition-property(max-height);
  @include transition-duration(0.25s);
}

.content {
  position: absolute;
  top: $headerHeight;
  body.ios & {
    top: $headerTotalHeight;
  }

  left: 0;
  right: 0;
  bottom: 0;
  height: $iphone6Height - $headerHeight;
  body.ios & {
    height: $iphone6Height - $headerTotalHeight;
  }
  
  background-color: transparent;
  color: $contentTextColor;
  z-index: 2;
//  overflow: scroll;

  @include transition-property(left);
  @include transition-duration(0.25s);

  //make scrollbar show up in iOS
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: rgba(0,0,0, .1);
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: rgba(0, 0, 0, .6);
  }
}

.header {
    background-color: #f4f4f4;
    width: 100%;
    margin: 0;
    padding: 0;
    h1 {
      font-size: medium;
      text-align: center;
      padding-top: 25px;
      padding-bottom: 10px;
      margin: 0;
      border-bottom-style: solid;
      border-bottom-color: #dddddd;
      border-bottom-width: 1px;
        @media #{$phone} and #{$landscape} {
          text-align: left;
          margin: 0px 30px 0px 70px;
        }
    }
}

.topic {
  padding: $standardPadding;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  @media #{$phone} and #{$landscape} {
    float: right;
    width: 50%;
  }
  h2 {
    margin: 5px 20px;
    font-size: 1.2em;
  }
}

h3 {
  text-align: center;
  margin: 5px 0px;
  padding-bottom: 5px;

}

//Contains the image and instructions for the item the user is supposed to be searching for
.search-item {
  padding: $standardPadding;
  float: left;
  text-align: center;
  width: 100%;

  img {
    @media #{$phone} and #{$landscape} {
      width: 80%;
      margin: 0 4%;
    }
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    width: 80%;
    max-height: 40%;
  }
  .dev-control {
    float: right;
  }
  @media #{$landscape} {
    width: 45%;
  }
}

.hint-container {
  text-align: center;
  .hint {
    display: none;
    &.revealed {
      //Add the 'revealed' class once revealed, and the hint will be shown
      display: block;
    }
  }
}

div.item-title {
  h3.name {
    text-align: center;
    @media #{$phone} and #{$landscape} {
      padding-bottom: 2px;
    }
    margin:0px;
  }
  h4 {
    text-align: center;
    padding: 5px;
    margin: 5px;
  }
}

.proximity-indicator {
  background-color: #999999;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 13px 12px;
  position: fixed;
  left: 70%;
  top: 90%;
  &.far {
    background-color: lightcoral;
  }
  &.near {
    background-color: orange;
  }
  &.immediate {
    background-color: lightgreen;
  }
}

.found-item {
  display: none;
  padding: none;
  clear: none;
  text-align: center;
  float: left;
  width:100%;

  //this is enabled where necessary, and always shows a scroll bar if on
//  overflow-y: scroll;



  font-size: 1.1em;

  @media #{$tablet} {
    width: 100%;
    clear: both;
  }
  img {
    max-width: 80%;
  }
  h5 {
    margin: 5px 0px;
  }
  &.finished {
    max-width: 40%;
    @media #{$portrait} {
      max-width: 100%;
    }

  }
  p.description {
    padding: 5px;
  }

  @include transition-property(max-width);
  @include transition-duration(0.25s);

  video {
    margin-left: auto;
    margin-right: auto;
    clear: both;
    @media #{$phone} and #{$portrait} {
      width: 90%;
      height: 90% * $videoAspectRatio;
    }
    @media #{$tablet} and #{$landscape} {
      width: 90%;
      height: 90% * $videoAspectRatio;
    }
  }
  h3 {
    color: darkgreen;
  }
}


.dev-control {
  display: block;
  font-size: x-small;
}


.question {
  display: inline;
  min-height: 0px;
  margin: 0% 5%;
  padding: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  ul {
    text-align: left;
    list-style: none;
    padding: 2px;
    li {
      div.response {
        display: none;
        font-size: small;
        font-weight: normal;
      }
      padding-bottom: 10px;
    }
    height: 100%;
    overflow: scroll;
  }
  .try-again {
    display: none
  }
  .proceed {
    display: none
  }
  @media #{$phone} and #{$landscape} {
    max-width: 50%;
//    float: right;
  }
}

.choose-trail {
  float: left;
  padding-right: $standardPadding;
}
.start-trail {
  display:none;
}

.button {
  &.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 2*$standardPadding;
  }
  margin: 10px;
}

.media-test {
  display: none;
  background-color: blue;
  padding: 10px;
  width: 20%;
  margin: 10px;
  &.phone {
    @media #{$phone} {
      display: inline;
    }
  }
  &.tablet {
    @media #{$tablet} {
      display: inline;
    }
  }
}
.interactive {
  position: absolute;
  height: 100%;
  width: 100%;
  
  &#sextant {
    &.view-1{
      background-image: url(../img/objects/sextant/latitude.png);
      background-size: cover;
    }
    #instructions {
      padding: 2px;
      background-image: url(../img/objects/sextant/parchment-tan.jpg);
      background-color: #edddc1;
      background-size: cover;
      height: 140px;
      width: 100%;
      line-height: 1.4em;
      font-weight: bold;
      &.view-1{
        background-image: none;
        background:rgba(237,221,193,0.7);
        height:100%;
      }

      @media #{$phone_small} {
          height:19%;
          font-size: 0.9em;
      }
      @media #{$phone_vsmall} {
          height:19%;
          font-size: 0.8em;
      }
      
      ol {
        padding-top: $standardPadding;
        margin: 0;
      }
      
      p {
        margin:0;
        padding-top: $standardPadding+3px;
        text-align: center;
      }
    }
    
    #viewfinder {
      //clip-path: url(#clipping);
      width: 100%;
      height: $sextantCapturedImageHeight;
      //mask-type: luminance;
      -webkit-mask-source-type: luminance;
      mask-image: url(../img/objects/sextant/circle_mask.png);
      -webkit-mask-image: url(../img/objects/sextant/circle_mask.png);
      -webkit-mask-position-x: 50%;
      -webkit-mask-size:$sextantCapturedImageHeight - 10px;
      -webkit-mask-repeat: no-repeat;
      clip-path: circle(60px at center);
      
      @media #{$tablet} {
        height: $sextantCapturedImageHeightIpad;
        -webkit-mask-size: 60%;
        -webkit-clip-path: circle(212px at 50% 214px);
        clip-path: circle(212px at 50% 214px);
      }
      
      #captured-image {
        position: absolute;
        // top: 138.5px;
        width: 50%;
        height: $sextantCapturedImageHeight;
        @media #{$tablet} {
          height: $sextantCapturedImageHeightIpad;
        }

        background-size: 380px;
        background-position-y: -240px;
        z-index: 1000;
        display: inline;
        // @media #{$phone_small} {
        //   top: 138.5px;
        // }
        // @media #{$phone_vsmall} {
        //   top: 138.5px;
        // }
        
        #alignment-indicator {
          position: relative;
          top: 50%;
          width: 100%;
          border-top: 1px solid red;
        }
      }
      
      #sky {
        clear: right;
        background-image: url(../img/objects/navigation/sky.png);
        background-size: 500px;
        background-position-y: 555px; //to get the sea level in center initially
        background-position-x: -205px; //to get the sun centered left-right
        height: $sextantCapturedImageHeight;
        height: 100%;
        width: 100%;
        float: right;
        position: relative;
            #sun {
                position: absolute;
                left: 45%;
            }
        @media #{$tablet} {
          background-size: 1000px;
          background-position-y: 1112px;
          background-position-x: -410px;
        }
        }
    }

    #message {
      padding: $standardPadding;
      position: absolute;
      top:0;
      height:100%;
      width:100%;
      background-image: url(../img/objects/sextant/parchment-tan.jpg);
      background-color: #edddc1;
      background-size: cover;
      line-height: 1.4em;
      
      #message-text {
          position: absolute;
          margin: 5px;
      }
      
      p {
        margin:0;
        padding-bottom: $standardPadding + 3px;
        text-align: center;
        font-weight: bold;
      }
      
      .sextant-diagram {
          width: 66%;
          height: 100%;
          position: relative;
          margin-left: auto;
          margin-right: auto;
          img {
              width: 100%;
              position: absolute;
              top: 115px;
          }
          canvas { 
              height: 100%;
              position: absolute;
              pointer-events: none;
          }
      }
    }
    
    &.view-0 {
      #feedback {
        @media #{$phone_vsmall} {
          border-left: 60px solid black;
          border-right: 60px solid black;
          width: 100%;
        }
      }
    }
    #feedback {
      position: absolute;
      bottom: 90px;
      height: 150px;
      width: 100%;
      background: white;
      z-index: 1000;
      @media #{$phone_small} {
          height: 150px;
          bottom: 60px;
      }
      @media #{$phone_vsmall} {
          height: 84px;
          bottom: 60px;
      }
      @media #{$tablet} {
          height: 300px;
          bottom: 90px;
      }
    #sextant {
        width: 100%;
        z-index: 500;
        border-top: 4px solid black;
        
        img {
          position: absolute;
          width: 100%;
        }
        
        canvas#sextant-reading {
          width: 100%;
          height: 150px;
          display: block;
          background-image: url(../img/objects/sextant/parchment-tan.jpg);
          background-size: cover;
          @media #{$phone_vsmall} {
            height: 80px;
          }
          @media #{$tablet} {
            height: 300px;
          }
        }
        img#sextant-angle-reader {
          z-index: 999;
          left:50%;
          margin: 0 -75px;
          height: 150px;
          width: auto;
          @media #{$phone_vsmall} {
              height: 85px;
              margin: 0 -44px;
          }
          @media #{$tablet} {
            height: 300px;
            margin: 0 -150px;
          }

        }
      }
      
      #reference-indicator {
        border-top: 1px solid black;
        color: $contentTextColor;
        text-shadow: 1px 1px #ccc;
        font-size: 1.3em;
        font-weight: bold;
        position:absolute;
        text-align: right;
        padding-right: $standardPadding * 2;
        width:100%;
      }
    }
    
    .ring {
      //ring
      height: $sextantCapturedImageHeight - 10px;
      width: $sextantCapturedImageHeight - 10px;
      margin-left: auto;
      margin-right: auto;
      background-image: url(../img/objects/sextant/sextant_eye_piece.png);
      background-size:cover;
      z-index: 10000;
      position: absolute;
      margin-left: -($sextantCapturedImageHeight - 10px)/2;
      left: 50%;
      @media #{$tablet} {
        height: $sextantCapturedImageHeightIpad - 10px;
        width: $sextantCapturedImageHeightIpad - 10px;
        margin-left: -($sextantCapturedImageHeightIpad - 10px)/2;
      }
    }
    
    #controls {
      padding: $standardPadding;
      position: fixed;
      bottom: 0;
      left: 0;
      height: 90px;
      width: 100%;
      background: #333;
      z-index: 1001;  //just above canvas for reading
      @media #{$phone_small} {
          height: 60px;
      }
      @media #{$phone_vsmall} {
          height: 60px;
      }
      &.image-recognised {
        background: white;
      }
      
      .button {
        @include interactiveButton;
        @media #{$phone_small} {
          margin-top:2px;
          line-height: 23px;
        }
        @media #{$phone_vsmall} {
          margin-top:2px;
          line-height: 23px;
        }

      }
    }
    
    #tabs {
      width: 100%;
      
      .tab {
        display: block;
        float: left;
        width:50%;
        height: $tabHeight;
        text-align: center;
        line-height: $tabHeight;
      }
    }
    
    &.view-1 {
      #instructions {
        position: absolute;
        width: 100%;
        background-position: 0 -1*$tabHeight;
        background-image: none;
        background:rgba(255,255,255,0.6);
        background-size: cover;
        height: 21%;
        &.pole-star {
          background-image: url(../img/objects/sextant/parchment-green.jpg); 
          background-size: 375px;
          background-position: 0 -1*$tabHeight;
          color: white;
        }
      }
      
      #message {
        display:none;

      }
      #latitude-calculation {
        background:rgba(255,255,255,0.6);
        top: 25%;
        position: relative;
        color: black;
        text-shadow: 2px 2px #edddc1;
        font-size: 1.3em;
        font-weight: bold;
        padding: 5px 0;
        span#latitude-indicator {
            float: right;
            padding-right: 3%;
        }
        span#angle-indicator {
            padding-left: 39%;
        }
      }
      
      #feedback {
        padding: 0 $standardPadding;
        position: fixed;
        bottom: 90px;
        height: 270px;
        @media #{$phone_small} {
            height: 180px;
            bottom: 60px;
        }
        @media #{$phone_vsmall} {
            height: 150px;
            bottom: 60px;
        }
        
        width: 100%;
        background-image: url(../img/objects/sextant/navigation-map.jpg);
        background-position: center top;
        // background-size: auto 270px;
        background-size: cover;
      }
      
      #value-indicator {
        border-top: 2px solid red;
        color: black;
        text-shadow: 2px 2px #edddc1;
        font-size: 1.3em;
        font-weight: bold;
        position:absolute;
        text-align: right;
        padding-right: $standardPadding * 2;
        width:100%;
      }
      
      #tabs {
        #sun {
          background-image: url(../img/objects/sextant/parchment-tan.jpg);
          background-size: 375px;
        }
        
        #pole-star {
          background-image: url(../img/objects/sextant/parchment-green.jpg);
          background-size: 375px;
          background-position-x: -100%;
          color: white;
        }
      }
    }
  }
}
