//topics screen - a.k.a Object screen / content select screen

@import "_common.scss";

.object-container{
  color: $navTextColor;

  &.nearby {
    background: red;
  }

  .header {
    width:100%;
    height: $iphone6Height - $headerTotalHeight;
    background-position: top;
    background-size: cover;
    &.nearby {
      border: 1px solid red;
    }
    .zoom {
      float: right;
      font-size: 2em;
      margin: 10px;
      color: $mapColor;
      position: relative;
      top: 0px;
    }

  }

  .object-content {
    position: absolute;
    width: 100%;
    bottom: 0px;

  }
  
  .map-link {
    padding:13px;
    width: 100%;
    text-align: center;
    height: $topicListItemHeight / 3;
    background: url("../img/find-on-flooplan-button.png") no-repeat center center ;
    background-size: cover;
    text-decoration: none;
    border-bottom: 1px solid;

    
    a {
      display: block;
      color: $contentTextColor;
    }
  }

  ul {
    margin:0px;
    padding: 0px;
    list-style: none;
    
    li {
      width: 100%;
      text-align: center;
      
      &.topic-audio {
        height: 50px;
        background: $mapColor;
        border-top: 1px solid $mapColor;
        border-bottom: 1px solid black;
        padding: 0px;
        .audio {
          height: $audioHeight;
          line-height: $audioHeight * 0.5;
          margin-top: 5px;
          margin-bottom: 0px;
          text-align: left;
          background: transparent;
          color: $navTextColor;
          
          a {
            display: inline;
          }
          
          .audio-info {
            margin-left: 5px;
            display: inline-block;
            text-align: left;
            #media-caption {
              //      text-align: left;
              //        padding-right: 1em;
              font-size: 1.0em;
              font-weight: bold;
              line-height: 0.9em;
            }
            #media-progress {
              line-height: 1.2em;
              font-size: 0.8em;
              margin-top: 3px;
            }
          }
          .audio-control-icon {
            float: right;
            padding: 0;
            padding-right: 10px;
            font-size: 1.5em;
            &.pause {
              display: none;
            }
            &.restart {
              display: none;
            }
            &.speaker {
              float: left;
            }
          }
        }

        &.playing {
          background: white;
        // styling for audio control bar when playing  
        //   .audio {
        //     color: black;
        //     .audio-control-icon {
        //       color: black;
        //       font-size: 1.7em;
        //     }
        //   }
        }
      }
      &.topic-item {
        border-bottom: 1px solid black;
        text-align: left;
        height:75px;
      }
      
      a {
        text-decoration: none;
        color: white;
        display: block;
        padding: 14px;
        
        .interact-chevron {
          position: relative;
          float: right;
          right: -19px;
          top: -19px;
        }
      }
    }
  }

  .explore-link {
    text-align: center;
    width: 100%;
    height: 50px;
    background: $navBackgroundColor;
    a {
      padding: 15px;
      color: $mapColor;
      display: block;
      text-align: left;
    }
  }
}

.overlay {
  background: rgba(0,0,0,1);
  width: 100%;
  height: $iphone6Height - $headerSystemStatusClearance;
  display: none;
  position: fixed;
  top: $headerSystemStatusClearance;
  left: 0px;
  z-index: 10000;
  &.overlay-image {
    text-align: center;
    i.close-overlay {
      font-size: 3em;
      float: right;
      color: $navTextColor;
    }
    img {
      position: relative;
      top: 60px;
      width: 100%;
      &.photograph {
        top: 0px;
      }
    }
    .map {
        transform: rotate(90deg);
        // width: $iphone6Height * 750 / 360;
        // height: $iphone6Width;
        // top: 88px;
        // left: -135px;
        
    }

  }
}

.object-content .title {
  padding: 15px 15px 15px 48px;
}

.title, .topic-item {
  @include objectTitle;
  position: relative;
  height: $topicListItemHeight / 3;
  width: 66%;
  .container-navigation & {
      background-color: $upperGalleryColor;
  }
  .container-globe & {
      background-color: $upperGalleryColor;
  }
  .container-moon_globe & {
      background-color: $entranceGalleryColor;
  }
  .container-armillary & {
      background-color: $entranceGalleryColor;
  }
  .container-blackboard & {
      background-color: $basementGalleryColor;
  }
  .container-marconi & {
      background-color: $basementGalleryColor;
  }
  .container-lodestone & {
      background-color: $basementGalleryColor;
  }
}

.audio-control-icon:not(.speaker) {
  .container-navigation & {
      color: $upperGalleryColor;
  }
  .container-globe & {
      color: $upperGalleryColor;
  }
  .container-moon_globe & {
      color: $entranceGalleryColor;
  }
  .container-armillary & {
      color: $entranceGalleryColor;
  }
  .container-blackboard & {
      color: $basementGalleryColor;
  }
  .container-marconi & {
      color: $basementGalleryColor;
  }
  .container-lodestone & {
      color: $basementGalleryColor;
  }
}
