@import "_common.scss";

div.trails-list-container {
  position: relative;
  height:602px;
  background-color: black;
  
  a {
    display: block;
    position: relative;
    height:200px;
    overflow: hidden;
    
    img {
      display: block;
      width: 100%;
    }
    
    .label {
      position: absolute;
      width: 70%;
      left: 0;
      bottom: 0;
      padding: 15px 10px 10px 10px;
      text-align: right;
      
      span {
        position: relative;
        color: white;
        font-size: 24px;
      }
      
      .background {
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    
      }
      
      #upper_gallery-background {
        background-color: $upperGalleryColor;
      }

      #entrance_gallery-background {
        background-color: $entranceGalleryColor;
      }

      #basement_gallery-background {
        background-color: $basementGalleryColor;
      }

    }
  }
}
