@import "_common.scss";
@import "compass/css3/animation";
@include keyframes(cyclebg-upper) {
  0% {
    background-color: $upperGalleryColor;
  }
  50% {
    background-color: $beaconPulseColor;
  }
  100% {
    background-color: $upperGalleryColor;
  }
}

@include keyframes(cyclebg-basement) {
  0% {
    background-color: $basementGalleryColor;
  }
  50% {
    background-color: $beaconPulseColor;
  }
  100% {
    background-color: $basementGalleryColor;
  }
}

@include keyframes(cyclebg-entrance) {
  0% {
    background-color: $entranceGalleryColor;
  }
  50% {
    background-color: $beaconPulseColor;
  }
  100% {
    background-color: $entranceGalleryColor;
  }
}

div.trails-list-container {
  position: relative;
  height:602px;
  background-color: black;
  
  a {
    display: block;
    position: relative;
    height:200px;
    overflow: hidden;
    
    img {
      display: block;
      width: 100%;
    }
    
    .label {
      position: absolute;
      width: 70%;
      @media #{$tablet} {
        width: 40%;
      }
      left: 0;
      bottom: 0;
      padding: 15px 10px 10px 10px;
      text-align: right;
      
      span {
        position: relative;
        color: white;
        font-size: 24px;
        @media #{$phone_small} {
            font-size: 18px; 
        }
      }
      
      .background {
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    
      }
      
      #upper_gallery-background {
        background-color: $upperGalleryColor;
        &.nearby {
          @include animation(1.4s cyclebg-upper ease-in-out infinite);
        }
      }

      #entrance_gallery-background {
        background-color: $entranceGalleryColor;
        &.nearby {
          @include animation(1.4s cyclebg-entrance ease-in-out infinite);
        }
      }

      #basement_gallery-background {
        background-color: $basementGalleryColor;
        &.nearby {
          @include animation(1.4s cyclebg-basement ease-in-out infinite);
        }
      }

    }
  }
}
