//trail screen - a.k.a Gallery screen / object select screen

@import "_common.scss";
@import "compass/css3/animation";
@include keyframes(cyclebg-upper) {
  0% {
    background-color: $upperGalleryColor;
  }
  50% {
    background-color: $beaconPulseColor;
  }
  100% {
    background-color: $upperGalleryColor;
  }
}

@include keyframes(cyclebg-basement) {
  0% {
    background-color: $basementGalleryColor;
  }
  50% {
    background-color: $beaconPulseColor;
  }
  100% {
    background-color: $basementGalleryColor;
  }
}

@include keyframes(cyclebg-entrance) {
  0% {
    background-color: $entranceGalleryColor;
  }
  50% {
    background-color: $beaconPulseColor;
  }
  100% {
    background-color: $entranceGalleryColor;
  }
}

.trail-container {
  border-top:1px solid black;
  h2 {
    width: 100%;
    padding: 10px 20px 10px 10px;
    margin: 0;
    font-size: 19px;
    color: white;
    text-align: left;
    border: none;
    height: 45px;
    line-height: 1.4em;
    
    &.current {
      background-color: red;
    }
  }
    
  .trail-floorplan {
    width: 100%;
    height: 180px;
    position: relative;   //so that child map markers can be positioned absolutely
    text-align: center;
    
    img.floorpan {
      width: 100%;
    }
    
  }
  .topic-list-item {
    position: relative;
    width:100%;
    height: $topicListItemHeight;
    background-size: cover;
    border-top: 1px solid black;
    .title {
      @include objectTitle;
      height: $topicListItemHeight / 3;
      width: 66%;
    }

  }
  ul {
    margin:0px;
    padding: 0px;
    list-style: none;
    li {
      width: 100%;
      padding: 0;
      a {
        text-decoration: none;
        color: $contentTextColor;
      }
    }
  }
}

.active-fa {
  display: none;
}

#upper_gallery {
  .trail-title, .title {
    background-color: $upperGalleryColor;
  }
  .map-icon.nearby {
      @include animation(1.4s cyclebg-upper ease-in-out infinite);
  }
}

#entrance_gallery {
  .trail-title, .title {
    background-color: $entranceGalleryColor;
  }
  .map-icon.nearby {
    @include animation(1.4s cyclebg-entrance ease-in-out infinite);
  }
}

#basement_gallery {
  .trail-title, .title {
    background-color: $basementGalleryColor;
  }
  .map-icon.nearby {
    @include animation(1.4s cyclebg-basement ease-in-out infinite);
  }
}

.map-icon {
  font-size: 1em;
  margin: 10px;
  color: $mapColor;
  position: absolute;
  bottom: 3px;
  border-radius: $markerDiameter;
  height: $markerDiameter;
  width: $markerDiameter;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
  box-sizing: border-box;
  &.on-map {
    position: absolute;
  }
}



.title-chevron {
  float: right;
  margin: 10px;
  color: white;
  position: absolute;
  bottom: -4px;
  right: 35%;
  line-height: 30px;
}

#upper_gallery {
  .map-icon {
    background: $upperGalleryColor;
  }
}
#entrance_gallery {
  .map-icon {
    background: $entranceGalleryColor;
  }
}
#basement_gallery {
  .map-icon {
    background: $basementGalleryColor;
  }
}



/* adjustments needed because the basement has 3 items */
#basement_gallery {
  .topic-list-item {
    height: $topicListItemHeight * 2/3;
  }
}

.overlay {
  background: rgba(0,0,0,1);
  width: 100%;
  height: $iphone6Height;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10000;
  &.overlay-image {
    text-align: center;
    i.close-overlay {
      font-size: 3em;
      float: right;
      color: $navTextColor;
    }
    img {
      position: relative;
      top: 60px;
      width: 100%;
      &.photograph {
        top: 0px;
      }
    }
  }
}
