//trail screen - a.k.a Gallery screen / object select screen

@import "_common.scss";

.trail-container {
  h2 {
    width: 100%;
    padding: 10px 20px 10px 20px;
    margin: 0;
    font-size: 20px;
    background-color: rgba(0,0,0, 0.8);
    color: white;
    text-align: left;
    border: none;
  }
  .trail-floorplan {
    width: 100%;
    height: 200px;
  }
  .topic-list-item {
    width:100%;
    height: $topicHeaderHeight;
    background-size: cover;
    .title {
      @include objectTitle;
    }
    .map-icon {
      float: right;
      font-size: 2em;
      margin: 10px;
      color: $navTextColor;
      position: relative;
      top: $topicHeaderHeight * 0.6;
    }
  }
  ul {
    margin:0px;
    padding: 0px;
    list-style: none;
    li {
      width: 100%;
      padding: 0;
      a {
        text-decoration: none;
        color: $contentTextColor;
      }
    }
  }
}

.overlay {
  background: rgba(0,0,0,1);
  width: 100%;
  height: $iphone6Height;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10000;
  &.overlay-image {
    text-align: center;
    i.close-overlay {
      font-size: 3em;
      float: right;
      color: $navTextColor;
    }
    img {
      position: relative;
      top: 60px;
      width: 100%;
      &.photograph {
        top: 0px;
      }
    }
  }
}