@import "compass/css3/animation";
$item-height: 40px;

@include keyframes(cyclebg) {
  0% {
    background-color: #222;
  }
  50% {
    background-color: #555;
  }
  100% {
    background-color: #222;
  }
}

div.trails-list-container {
  text-align: center;


  ul {
    padding: 0px;
    list-style: none;
    a {
      text-decoration: none;
      color: white;
      li {
        background-color: black;
        margin: 5px 0px;
        width: 100%;
        height: $item-height;
        padding: 15px 0;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        &.nearby {
          @include animation(1.4s cyclebg ease-in-out infinite);
        }
        &.audio {
          margin-top: 20px;
          padding: 5px 0;
          height: 30px;
        }

        audio {
          float: right;
          padding-right: 20px;

        }

        div {
          margin-left: 5%;
          &.trails-list-item {
            margin-right: 30%;
          }
          &.main-title {
            margin-right: 30%;
            font-size: 1.2em;
            padding-bottom: 5px;
            overflow-x: hidden;
            text-overflow: ellipsis;
            &.title-smaller {
              font-size: 1.0em;
            }
          }
          &.subtitle {
            font-size: 0.8em;
            margin-right: 30%;
          }
        }
        &.near {
          border-left: 20px solid #888888;
          background-color: #444444;
        }
        &.far {
          border-left: 20px solid #444444;
          background-color: #222222;
        }

        img.item-thumbnail {
          height: $item-height + 16px;
          margin: 0px 5px;
          float: right;
          position: relative;
          top: -8px;
        }
      }
    }
  }
  position: relative;
}

p.description {
  margin: 10px 5px;
  text-align: left;
  font-size: 0.9em;
}