<?xml version='1.0' encoding='utf-8'?>
<widget id="uk.ac.ox.museums.pocketcurator" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Pocket Curator</name>
    <description>
        Pocket Curator - unlock secrets at the University of Oxford's Museum of History of Science
    </description>
    <author email="apps@maillist.ox.ac.uk" href="http://www.it.ox.ac.uk">
        Mobile and Web Applications Team - Oxford University
    </author>
    <content src="index.html" />
    <access origin="*" />
    <gap:plugin name="com.unarin.cordova.beacon" version="3.2.1" />
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />
    <gap:plugin name="nl.x-services.plugins.socialsharing" version="4.3.8" />
    <gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />
    <gap:plugin name="org.apache.cordova.vibration" version="0.3.11" />
    <gap:plugin name="com.vladstirbu.cordova.instagram" version="0.4.1" />
    <gap:plugin name="org.apache.cordova.vibration" version="0.3.11" />
    <gap:plugin name="org.apache.cordova.media" version="0.2.13" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.12" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="orientation" value="portrait" />
    <feature name="http://api.phonegap.com/1.0/geolocation" />
    <gap:config-file parent="UIStatusBarHidden" platform="ios">
        <true />
    </gap:config-file>
    <gap:config-file parent="UIViewControllerBasedStatusBarAppearance" platform="ios">
        <false />
    </gap:config-file>
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="FadeSplashScreenDuration" value="1000" />
    <platform name="android">
        <splash density="port-ldpi" src="packaging/splash/splash-port-ldpi.png" />
        <splash density="port-hdpi" src="packaging/splash/splash-port-hdpi.png" />
        <splash density="port-mdpi" src="packaging/splash/splash-port-mdpi.png" />
        <splash density="port-xhdpi" src="packaging/splash/splash-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="packaging/splash/splash-port-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="packaging/splash/splash-port-xxxhdpi.png" />
        <icon density="ldpi" src="packaging/icons/ldpi.png" />
        <icon density="mdpi" src="packaging/icons/mdpi.png" />
        <icon density="hdpi" src="packaging/icons/hdpi.png" />
        <icon density="xhdpi" src="packaging/icons/xhdpi.png" />
        <icon density="xxhdpi" src="packaging/icons/xxhdpi.png" />
        <icon density="xxxhdpi" src="packaging/icons/xxxhdpi.png" />
    </platform>
    <platform name="ios">
        <splash height="1024" src="packaging/splash/Default-Portrait~ipad.png" width="768" />
        <splash height="2048" src="packaging/splash/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="2208" src="packaging/splash/Default-736h.png" width="1242" />
        <splash height="480" src="packaging/splash/Default~iphone.png" width="320" />
        <splash height="960" src="packaging/splash/Default@2x~iphone.png" width="640" />
        <splash height="1136" src="packaging/splash/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="packaging/splash/Default-667h.png" width="750" />
        <icon height="180" src="packaging/icons/icon-60@3x.png" width="180" />
        <icon height="60" src="packaging/icons/icon-60.png" width="60" />
        <icon height="120" src="packaging/icons/icon-60@2x.png" width="120" />
        <icon height="76" src="packaging/icons/icon-76.png" width="76" />
        <icon height="152" src="packaging/icons/icon-76@2x.png" width="152" />
        <icon height="40" src="packaging/icons/icon-40.png" width="40" />
        <icon height="80" src="packaging/icons/icon-40@2x.png" width="80" />
        <icon height="57" src="packaging/icons/icon.png" width="57" />
        <icon height="114" src="packaging/icons/icon@2x.png" width="114" />
        <icon height="72" src="packaging/icons/icon-72.png" width="72" />
        <icon height="144" src="packaging/icons/icon-72@2x.png" width="144" />
        <icon height="29" src="packaging/icons/icon-small.png" width="29" />
        <icon height="58" src="packaging/icons/icon-small@2x.png" width="58" />
        <icon height="50" src="packaging/icons/icon-50.png" width="50" />
        <icon height="100" src="packaging/icons/icon-50@2x.png" width="100" />
        <resource-file src="www/targets/PocketCurator.xml" target="assets/PocketCurator.xml" />
        <resource-file src="www/targets/PocketCurator.dat" target="assets/PocketCurator.dat" />
    </platform>
    <plugin name="cordova-hot-code-push-plugin" spec="~1.5.0" />
    <plugin name="cordova-hot-code-push-local-dev-addon" spec="~0.3.0" />
</widget>
