<div id="sextant" class="interactive view-1">
	<div id="tabs">
		<a id="sun" class="tab">Sun</a>
		<a id="pole-star" class="tab">Pole Star</a>
	</div>
	<div id="instructions">{{{instructions}}}</div>
	<div id="message"></div>
	<div id="feedback">
		<div id="value-indicator"></div>
		<div id="reference-indicator"></div>		
	</div>
	<div id="controls">
		<a id="done-button" class="button center toggle">Done</a>
	</div>
</div>