<div id="sextant" class="interactive view-1">
	<div id="instructions">{{{instructions}}}</div>
	<div id="message"></div>
	<div id="latitude-calculation">
		<span id="date-indicator"></span>
		<span id="time-indicator">12:00</span>
		<span id="angle-indicator"></span>
		<span id="latitude-indicator"></span>
	</div>
	<div id="feedback">
		<div id="value-indicator"></div>
		<div id="reference-indicator"></div>		
	</div>
	<div id="controls">
		<a id="done-button" class="button center toggle">Done</a>
	</div>
</div>
