<div class="interactive blackboard-gallery">
    <div class="explanations">
        <div class="explanation benn">
            <p class="author">Tony Benn</p>
            <p class="role">Politician</p>
            
            <div class="description">
                <p>
                    ‘I used my blackboard to list a few key questions we should all ask.’
                </p>
            </div>
        </div>
        <div class="explanation blanc">
            <p class="author">Raymond Blanc</p>
            <p class="role">Chef</p>
            
            <div class="description">
                <p>
                    ‘This blackboard illustrates how the ‘polymeal’ recipes were created as a response to the announcement from
                    medical science that a ‘polypill’ could significantly reduce the risk of cardiovascular disease. The key
                    ingredients can be taken in a more enjoyable way.’
                </p>
            </div>
        </div>
        <div class="explanation botton">
            <p class="author">Alain de Botton</p>
            <p class="role">Writer and philosopher</p>
            
            <div class="description">
                <p>
                    ‘I used my blackboard at a lecture in Borders Oxford Bookshop on 9th February 2005 to help to explain the
                    structure of my latest book, entitled Status Anxiety. Part 1 of the book concerns the causes of status
                    anxiety. These include the contrast between the unconditional love that babies receive and the conditions
                    attached to love in the adult world; the snobbery of others, the high expectations we have of our lives and
                    the so-called meritocratic system we live under. Part II of the book and blackboard looks at possible
                    solutions to the problem of status anxiety - and includes the philosophies of Jesus and Socrates, the role
                    of art, the thought of death (and the perspective this offers) and the invitation to reconsider our view of
                    success. The audience was very polite and pretended to understand what I was trying to say even if they had
                    no clue.’
                </p>
            </div>
        </div>
        <div class="explanation einstein">
            <p class="author">Albert Einstein</p>
            <p class="role">Physicist</p>
            
            <div class="description">
                <p>
                    Einstein’s blackboard was used in a lecture in Oxford on 16 May 1931.
                </p>
                
                <p>
                    At that time Einstein’s theories of relativity were being combined with astronomical data to explain the shifts
                    towards the red in the spectra of distant galaxies, which indicated that the universe was expanding. In his
                    lecture Einstein outlined a fairly simple model to explain this apparent expansion. In the first line on the
                    blackboard, D, the measure of expansion in the universe, is defined in terms of the expansion factor P. The
                    expression for the density of matter in the universe, given by ρ in the third line, is derived from the field
                    equations. The last four lines contain numerical data, giving values for density, radius and age of the
                    universe, where ‘L. J’ stands for ‘Licht Jahr’ (light year) and ‘J’ for ‘Jahr’ (year). According to the last
                    line, the age of the universe is about 10, or perhaps 100 billion years (the bracket indicates an alternative
                    figure, not a product of two figures).
                </p>
                
                <p>
                    Einstein’s blackboard deals with some of the most fundamental questions in cosmology.
                </p>
            </div>
        </div>
        <div class="explanation eno">
            <p class="author">Brian Eno</p>
            <p class="role">Musician</p>
            
            <div class="description">
                <p>
                    ‘This is the depiction of a theory that Arabic singing bounced around the world in several directions creating
                    what we call popular music, and how the British Isles were central to this.’
                </p>
            </div>
        </div>
        <div class="explanation grimshaw">
            <p class="author">Sir Nicholas Grimshaw</p>
            <p class="role">President of the Royal Academy</p>
            
            <div class="description">
                <p>
                    ‘Tension &amp; Compression’
                </p>
            </div>
        </div>
        <div class="explanation harries">
            <p class="author">The Right Reverend Richard Harries</p>
            <p class="role">Bishop of Oxford</p>
            
            <div class="description">
                <p>
                    ‘I had the privilege of chairing the House of Lords Select Committee on Stem Cell Research. Most of us were
                    non-scientists, but with the aid of a very good scientific adviser we did I think grasp some of the fundamental
                    principles involved. Cloning was one issue we had to discuss and both then and subsequently I have found these
                    little drawings helpful both for myself and others to whom I am talking.’
                </p>
            </div>
        </div>
        <div class="explanation heath">
            <p class="author">Michael Heath</p>
            <p class="role">Cartoonist</p>
        </div>
        <div class="explanation jackson">
            <p class="author">Glenda Jackson MP</p>
            <p class="role">Actress and politician</p>
            
            <div class="description">
                <p>
                    ‘For me one of the most heartbreaking responses I get campaigning is when a woman will say, ‘Oh, I never vote.’
                    Women died to give us this right. Obviously I’d like all women to vote Labour, but even more importantly,
                    whomsoever you select, vote, vote, vote.’
                </p>
            </div>
        </div>
        <div class="explanation jardine">
            <p class="author">Professor Lisa Jardine</p class="author">
            <p class="role">Historian and broadcaster</p>
            
            <div class="description">
                <p>
                    ‘I created this blackboard in the course of a seminar paper entitled ‘Following the Trail of an Unanswered
                    Letter: Sir Constantijn Huygens Writes to Robert Hooke’, which I delivered on 24 February 2005 to my weekly
                    Director’s Seminar at the AHRB Centre for Editing Lives and Letters. The paper centred on the draft of a letter
                    sent by Sir Constantijn Huygens to Robert Hooke in 1673, which I found in the Royal Archives at The Hague in
                    2002. When writing my biography of Robert Hooke I had considered this letter as part of an England-centred
                    exploration of early science and the history of the Royal Society. Now I proposed to step back and set the
                    letter in its wider European context. In order to understand the importance of the letter, and the consequences
                    of its having gone unanswered, I argued that we needed to treat it as part of a complex set of intellectual,
                    social and political relationships which spanned the English Channel. These took in London, The Hague and Paris,
                    and were significantly influenced by events usually invisible to History of Science, like the Anglo-Dutch wars
                    and the so-called ‘Glorious Revolution’.’
                </p>
            </div>
        </div>
        <div class="explanation macgregor">
            <p class="author">Joanna MacGregor</p>
            <p class="role">Pianist</p>
            
            <div class="description">
                <p>
                    ‘I wrote the music on this blackboard while I was giving a lecture about Bach’s Goldberg Variations at the
                    Holywell Music Room on 22nd March this year, before performing them. I was trying to make a connection between
                    Bach’s super-sensitivity to the contemporary styles around him – very very acute in this piece – and today’s
                    musicians. There’s a lot of information in the Goldbergs – structure, harmony, a ladder of canons – and coded
                    information we can only guess at – myths, cosmological allegories, and a soulful journey. It all starts with
                    the bass line.’
                </p>
            </div>
        </div>
        <div class="explanation may">
            <p class="author">Lord Robert May of Oxford</p>
            <p class="role">President of the Royal Society</p>
            
            <div class="description">
                <p>
                    ‘This is a reconstruction, to the best of my memory, of notes and a question (Q) that I put on the blackboard –
                    of almost exactly this size – in the corridor outside my office in the Theoretical Physics Department at Sydney
                    University in 1972.  Motivated by problems in ecology, I had been studying some first-order difference equations
                    that entomologists and fisheries people had suggested as rough caricatures of the dynamics of certain
                    populations.  Earlier work had focussed on identifying constant, equilibrium solutions (“nature’s balance”) and
                    left it at that.  I elucidated the “cascades of period doubling” (and coined this term) as the “boom and bust”
                    of the nonlinear difference equation became more pronounced with increasing population growth rate, λ; as λ
                    increases, the equilibrium solutions for X change from constant to up-down cycles with successive periods
                    2, 4, 8, 16, … .   But I could make no sense of what happened next, beyond the “point of accumulation” of
                    these cycles at λ = 14.77… .   Later, in collaboration with Jim Yorke (Maryland), George Oster (Berkeley)
                    and others, I came to understand that beyond lay 1-dimensional “chaos”.  This was one of the two strands that
                    brought chaos centre stage in the mid-1970’s, the other strand being Lorenz’s work on 3-dimensional systems
                    of differential equations, where what is going on is inherently harder to understand.  Incidentally, 10
                    Australian dollars in 1972 is more like £50 or more today, although still grossly inadequate for the
                    (unclaimed) reward.’
                </p>
                
                <p>
                    <span class="postscript">
                        ‘For further information, see my chapter in <em>It Must Be Beautiful: Great Equations of Modern Science</em>
                        (ed. G. Farmelo) Granta, London, 2002 or J. Gleick, <em>Chaos: Making a New Science</em>, Viking, New York,
                        1987.’
                    </span>
                </p>
            </div>
        </div>
        <div class="explanation parker">
            <p class="author">Cornelia Parker</p>
            <p class="role">Artist</p>
            
            <div class="description">
                <p>
                    <span class="title">Navigating a Cliff Edge in Darkness</span> 2005
                </p>
                
                <p>
                    ‘Written while blindfolded, using cliff chalk from Beachy Head, Sussex’
                </p>
            </div>
        </div>
        <div class="explanation patten">
            <p class="author">The Rt Hon the Lord Patten of Barnes</p>
            <p class="role">Politician and statesman</p>
            <p class="role">Chancellor of the University of Oxford</p>
        </div>
        <div class="explanation rees">
            <p class="author">Sir Martin Rees</p>
            <p class="role">Astronomer Royal</p>
            
            <div class="description">
                <p>
                    ‘Some of us suspect that there is more to physical reality than what we’ve traditionally called ‘our universe’
                    - the aftermath of ‘our big bang’. Moreover, other big bangs could give rise to cosmoses that behave very
                    differently - with more structure or less; with galaxies that are bigger, smaller, or nonexistent. These
                    diagrams consider what the aftermath of the big bang would have been like if two particular parameters were
                    different from the values in our actual big bang: the quantity Q that measures how smooth the universe is, and
                    Einstein’s cosmological constant ‘Lambda’. The shading delineates regions where galaxies could form.’
                </p>
            </div>
        </div>
        <div class="explanation robson">
            <p class="author">Sir Bobby Robson</p>
            <p class="role">England international footballer and manager</p>

            <div class="description">
                <p>
                    ‘This is one of England’s routine corner kicks in the 1990 World Cup campaign. The corner comes from the
                    right-hand side, taken left-footed by Waddle. There are three alternative areas to hit (shown shaded) and the
                    target area is signalled by Waddle. The England players are named, the white arrows are their expected movements
                    and the blue crosses are their markers. Lineker waits at the back post for the long ball or to pick up a
                    deflection. The three things I used to say we needed for the corner kick were service, movement and desire.’
                </p>
            </div>
        </div>
        <div class="explanation snow">
            <p class="author">Jon Snow</p>
            <p class="role">Journalist and broadcaster</p>
            <p class="role">Chancellor of Oxford Brookes University</p>
            
            <div class="description">
                <p>
                    ‘One is tempted in 2005 to consider Africa as our first responsibility – certainly it is my first love – but
                    then if our global environment fails, what of Africa, what of us?’
                </p>
                
                <p>
                    Jon Snow’s blackboard is a recently-acquired object in the collection of the Museum. Such blackboard globes
                    would have been used in 20th-century geography classrooms.
                </p>
            </div>
        </div>
        <div class="explanation wentworth">
            <p class="author">Richard Wentworth</p>
            <p class="role">Artist</p>
            
            <div class="description">
                <p>
                    <span class="title">TRANSLITERATOR (As above, so below)</span> 2005
                </p>
                
                <p>
                    ‘I like word of mouth. The invitation to try on Einstein’s shoes came to me in a personal call to my mobile. The
                    physicality of the blackboards of my childhood sprang to mind immediately – their sense of landscape, as if text
                    were a horizon, their sounds, their beautiful receptive surfaces, and their fog of palimpsests. I enjoyed
                    putting a crease in a piece of timber.
                </p>
                
                <p>
                    ‘The phrase ‘As above, so below’ has been with me for nearly thirty years.  My decision to use it, in two
                    languages, lies perhaps with the way that Einstein showed us a new alphabet, an exquisite Rosetta moment.’
                </p>
                
                <p>
                    <em>The alchemical epithet ‘As above, so below’ derives from the text known as the ‘Emerald Tablet’ attributed
                    to Hermes Trismegistus, and known in the West from at least the 10th century. It encapsulated the fundamental
                    alchemical idea of a correspondence between the heavens and the earth.</em>
                </p>
                
                <p>
                    <span class="postscript">
                        Richard Wentworth would like to thank the writer James Hughes and the staff of the Victoria and Albert 
                        Department of Ceramics and Glass, and to extend his calligraphic gratitude to Gudrun Bielz.
                    </span>
                </p>
            </div>
        </div>
    </div>
    
    <div class="ui">
        <div class="gallery">
            <div class="zoom-view hidden">
                <img class="blackboard">
                <i class="fa fa-times-circle-o close"></i>
            </div>
            <div class="background"></div>
            <div class="thumbnail">
                <div class="inner">
                    <img class="blackboard">
                    <i class="fa fa-arrows-alt zoom"></i>
                </div>
            </div>
            <div class="scroll-container">
                <div class="name"></div>
                <div class="roles"></div>
                <div class="descriptive-text"></div>
            </div>
        </div>
        
        <div class="controls">
            <div class="background"></div>
            <i class="fa fa-2x fa-fw fa-chevron-left previous"></i>
            <div class="progress">
                <span class="index"></span> / <span class="total"></span>
            </div>
            <i class="fa fa-2x fa-fw fa-chevron-right next"></i>
        </div>
    </div>
</div>
