<div id="interact-clock">
    <div id="twenty-four">
        <div id="twenty-four_min" class="clock-face"></div>
        <div id="twenty-four_hour" class="clock-face"></div>
    </div>
    <div id="ten-hr" class="clock-face"></div>
    <div id="digital-clock"></div>
    <div id="globe"></div>
</div>