<div id="interact-clock">
    <div id="clocks">
        <div id="twenty-four">
            <div id="twenty-four_min" class="clock-face"></div>
            <div id="twenty-four_hour" class="clock-face"></div>
            <img id="twenty-four-cap" src="img/objects/armillary/twelve-hr-centre.png"/>
        </div>
        <div id="ten">
            <div id="ten-hr" class="clock-face"></div>
            <img id="ten-hr-cap" src="img/objects/armillary/ten-hr-face-centre.png"/>
        </div>
        <div id="digital-clock"></div>
    </div>
    <div id="globe-clock"></div>
</div>
