<div>

    <div class="decrease-time">
        <i class="fa fa-minus-circle"></i>
    </div>
    <div class="time">
    {{hours}}:{{minutes}}
    </div>
    <div class="increase-time">
        <i class="fa fa-plus-circle"></i>
    </div>
</div>