<div>

    <div class="decrease-time">
        <i class="fa fa-minus-circle"></i>
    </div>
    <div class="digital-time">
    {{time}}
    </div>
    <div class="increase-time">
        <i class="fa fa-plus-circle"></i>
    </div>
</div>