<div class="scan-container">
  <div class="preview" style="background-image:url(img/{{IRTargetImage}})">
    </div>
    <div id="header" class="{{gallery}}-background">
      <h1>{{title}}</h1>
      <div class="scan-instructions">{{{text1}}}</div>
    </div>
</div>
