<div class="item-title">
    <h3 class="name">{{{title}}}</h3>
</div>

<div class="">
    <video id="video" class="scanned center-vertically" width="100%" height="auto" webkit-playsinline preload="auto" poster="img/{{image}}" controls>
        <source src="video/{{video}}" type="video/mp4">
    </video>
</div>