<div class="scan-container">
	<div id="header">
	    <h1>{{title}}</h1>
	    <div class="scan-instructions">{{{text1}}}</div>
    </div>
    <div class="preview" style="background-image:url(img/{{IRTargetImage}})">
    </div>
</div>