<div id="lodestone-display">
    <div id="crown-container">
        <div id="crown-holder">
            <div id="crown"></div>
            <div id="weight-cradle"></div>
        </div>
    </div>
    <div id="frame"></div>
    <div id="readout" class="{{readoutVisible}}">
        <div class="readout-header">LOAD (lbs)</div>
        <div class="readout-value">{{totalWeight}}</div>
    </div>
    {{#if shouldShowKey}}
    <img id="lodestone-Rkey" class="lodestone-key" src="img/objects/lodestone/key.png">
    <img id="lodestone-Lkey" class="lodestone-key" src="img/objects/lodestone/key.png">
    {{/if}}
    <div id="controls-height">
        <div id="controls-holder"></div>
    </div>

</div>