<div id="lodestone-display">
    <div id="crown-container">
        <div id="crown-holder">
            <div id="crown"></div>
            <div id="weight-cradle"></div>
        </div>
    </div>
    <div id="frame">
    </div>
    <div id="controls-height">
        <div id="controls-holder"></div>
    </div>
</div>