<div id="marconi" class="interactive view-1">
	<div id="header">
	    <h1>{{title}}</h1>
	    <div class="scan-instructions">{{{text1}}}</div>
    </div>
	<div class="preview"></div>
	<div id="controls"><div id="wireless-button">Transmit</div></div>
	<div id="feedback">	
	</div>
</div>