<div id="marconi" class="interactive view-1">
	<div id="ir-view"></div>
	<div id="controls"><div id="wireless-button">Transmit</div></div>
	<div id="feedback"><div id="charging-indicator"></div><div id="charging-text">Charging&hellip;</div></div>
	<div id="full-screen-warning">
		<div id="warning">
			<div id="warning-message">
			</div>
			<div id="ok-button">OK</div>
		</div>
	</div>
</div>
