{{#each choices}}
    <div id="palette-choice-{{@key}}" choice-key="{{@key}}" class="palette-choice">
        <img class="palette-choice-image" src="img/{{image}}">
        <p class="palette-choice-label">{{label}}</p>
    </div>
{{/each}}