<div id="sextant" class="interactive view-0">
	<div id="instructions">{{{instructions}}}</div>
    <div id="viewfinder">
        <div id="captured-image">
            <div id="alignment-indicator"></div>
        </div>
		<canvas id="sky-canvas" style="width:100%; height:100%"></canvas>
		<img id="sky-img" src="img/objects/navigation/sky.png" style="display:none"/>
		<img id="sun-img" src="img/objects/navigation/sun.png" style="display:none"/>
        <div class="ring"></div>
    </div>
	<div id="message">
		<div id="message-text"></div>
		<div class="sextant-diagram">
			<img id="sextant-frame" src="img/objects/navigation/sextant_frame.png">
			<img id="sextant-arm" src="img/objects/navigation/sextant_arm.png">
			<img id="sextant-ray" src="img/objects/navigation/sextant_ray.png">
			<canvas id="sextant-lines"></canvas>
		</div>
			
	</div>
	<div id="feedback">
        <div id="sextant">
            <img id="sextant-angle-reader" src="img/objects/sextant/sextant_angle_reader.png"/>
            <canvas id="sextant-reading"></canvas>
        </div>
	</div>
	<div id="controls">
		<a id="main-button" class="button center toggle">Set Horizon</a>
	</div>
</div>
