<div id="image-capture">
	<div id="instructions">{{{instructions}}}</div>
	<div id="captured-image">
		<div id="alignment-indicator"></div>
	</div>
	<div id="message"></div>
	<div id="feedback-area">
		<div id="value-indicator"></div>
		<div id="reference-indicator"></div>		
        <div id="sextant">
            <canvas id="sextant-reading"></canvas>
        </div>
	</div>
	<div id="controls">
		<a class="button center toggle">Set Horizon Point</a>
	</div>
</div>