<div id="sextant" class="interactive view-0">
	<div id="instructions">{{{instructions}}}</div>
    <div id="viewfinder">
        <div id="captured-image">
            <div id="alignment-indicator"></div>
        </div>
        <div id="sky-holder">
			<img id="sky" src="img/objects/navigation/sky.png">
			<img id="sun" src="img/objects/navigation/sun.png">
		</div>
        <div class="ring"></div>
    </div>
	<div id="message">
		<div id="message-text"></div>
		<div class="sextant-diagram">
			<img id="sextant-frame" src="img/objects/navigation/sextant_frame.png">
			<img id="sextant-arm" src="img/objects/navigation/sextant_arm.png">
			<img id="sextant-ray" src="img/objects/navigation/sextant_ray.png">
			<canvas id="sextant-lines"></canvas>
		</div>
			
	</div>
	<div id="feedback">
        <div id="sextant">
            <img id="sextant-angle-reader" src="img/sextant_angle_reader.png"/>
            <canvas id="sextant-reading"></canvas>
        </div>
	</div>
	<div id="controls">
		<a id="main-button" class="button center toggle">Set Horizon</a>
	</div>
</div>
