<div id="sextant" class="interactive view-0">
	<div id="instructions">{{{instructions}}}</div>
    <div id="viewfinder">
        <div id="captured-image">
            <div id="alignment-indicator"></div>
        </div>
        <div id="sky">
			<img id="sun" src="img/objects/navigation/sun.png">
		</div>
        <div class="ring"></div>
    </div>
	<div id="message"></div>
	<div id="feedback">
        <div id="sextant">
            <img id="sextant-angle-reader" src="img/sextant_angle_reader.png"/>
            <canvas id="sextant-reading"></canvas>
        </div>
	</div>
	<div id="controls">
		<a class="button center toggle">Set Horizon</a>
	</div>
</div>
