<div id="image-capture">
	<div id="instructions">{{{instructions}}}</div>
	<div id="captured-image">
		<div id="alignment-indicator"></div>
	</div>
	<div id="feedback">
		<div id="value-indicator"></div>
		<div id="reference-indicator"></div>		
        <div id="sextant">
            <img id="sextant-frame" src="img/sextant_frame.png">
            <img id="sextant-arm" src="img/sextant_arm.png">
        </div>
	</div>
	<div id="controls">
		<a class="button toggle">Start</a>
	</div>
</div>

