<div class="black-bar audio">
    <img id="speaker-audio" src="img/white-speaker-128.png" class="audio-control-icon speaker" />
        <span id="media-elapsed">0:00</span> / {{duration}}
    <a><img id="play-audio" src="img/white-play-128.png" class="audio-control-icon play" /></a>
    <img id="pause-audio" src="img/white-pause-128.png" class="audio-control-icon pause" />
    <img id="restart-audio" src="img/white-skip-to-start-128.png" class="audio-control-icon restart" />
</div>