<link rel="stylesheet" type="text/css" href="css/dashboard.css" />

<div id="rssis" class="meter-group">
    <h3>RSSI (signal strength)</h3>
    <div class='meter' id="rssi">
        <span class="value scaleLabel">Value</span>
        <span class="fillBar" style="width: 50%"></span>
    </div>
</div>
<span class="min scaleLabel">Min</span>
<span class="max scaleLabel">Max</span>

<div id="accuracies" class="meter-group">
    <h3>'Accuracy' (estimated distance)</h3>
    <div class="meter" id="accuracy">
        <span class="value scaleLabel">Value</span>
        <span class="fillBar" style="width: 20%"></span>
    </div>
</div>
<span class="min scaleLabel">Min</span>
<span class="max scaleLabel">Max</span>



<br>
<a href="/#">Home</a>
