<h1 class="finished-title">{{trail.title}}</h1>
<h3 class="finished-message">You have finished the trail</h3>

<p class="finished-call-to-action">If you enjoyed it then tell your friends what you've been up to</p>

<table class="social-links-table">
    <tr>
        <td><a class="social-share" id="share-facebook"><img class="social-icon" src="img/FB-f-Logo__blue_144.png"></a><br>
        Share on Facebook</td>
        <td><a class="social-share" id="share-twitter"><img class="social-icon" src="img/Twitter_logo_blue_144.png"></a><br>
        Tell it on Twitter</td>
        <td><a class="social-share" id="share-instagram"><img class="social-icon" src="img/Instagram_Icon_Large.png"></a><br>
        Share on Instagram</td>
    </tr>
</table>

<canvas id="insta" width="612" height="612" style="display: none"></canvas>

<div class="feedback-button"><a href="http://www.surveymonkey.com">Tell us what you thought</a></div>
