<div class="pr-header">
    <div class="header-arrow arrow-left">{{#if prevURL}}<a class="back-link" href="{{prevURL}}"><i class="fa fa-chevron-left"></i>Back</a>{{/if}}</div>
    <!--<div class="header-logo"><a {{#if logoURL}}href="{{logoURL}}"{{/if}}><img src="img/prmlogo2.jpg"></a></div>-->
    <div class="header-arrow arrow-right">{{#if nextURL}}<a class="next-link" href="{{nextURL}}">Next<i class="fa fa-chevron-right"></i></a>{{/if}}</div>
</div>