<div class="pr-header">
    <div class="nav-button header-arrow arrow-left">{{#if prevURL}}<a class="back-link" href="{{prevURL}}"><i class="fa fa-chevron-left"></i></a>{{/if}}</div>
    <div class="nav-button header-home"><a href="#/home"><i class="fa fa-home fa-fw"></i></a></div>
    <div class="nav-button header-info"><i class="fa fa-info fa-fw"></i></div>
</div>
