<div class="pr-header">
    <div class="header-arrow arrow-left">{{#if prevURL}}<a href="{{prevURL}}"><img class="flip" src="img/arrow_right.png"></a>{{/if}}</div>
    <div class="header-logo"><a {{#if logoURL}}href="{{logoURL}}"{{/if}}><img src="img/prmlogo2.jpg"></a></div>
    <div class="header-arrow arrow-right">{{#if nextURL}}<a href="{{nextURL}}"><img src="img/arrow_right.png"></a>{{/if}}</div>
</div>