<div id="image-capture">
	<div id="instructions">
		<ol>
			<li>hold the phone at arm's length</li>
			<li>line up the bottom of the window across the room with the line on the screen</li>
			<li>press the start button</li>
		</ol>
	</div>
	<div id="image-overlay">
	</div>
	<div id="captured-image">
		<div id="alignment-indicator"></div>
	</div>
	<div id="feedback">
		<div id="value-indicator"></div>
	</div>
	<div id="controls">
		<a class="button start-tracking">start</a>
	</div>
</div>

