<div id="image-capture">
	<div id="instructions">
		<p>Sextant</p>
	</div>
	<div id="image-overlay">
	</div>
	<div id="captured-image">
	</div>
	<div id="feedback">
		<div id="value-indicator"></div>
	</div>
	<div id="controls">
		<a class="button start-tracking">start</a>
	</div>
</div>

