<div class="overlay-information">
    <img src="{{infoImagePath}}" />
    
    <h1>{{title}}</h1>
    
    <div>{{{infoDescription}}}</div>
    
    <div class="start">Start</div>
    <a href="{{infoReturn}}"><i class="fa fa-chevron-left"></i></a>
</div>
