<div class="overlay-information">
    <h1>Pocket Curator</h1>
    <div class="overlay-description">
      <p>
          Answers your questions about some of the most
          important and interesting objects on display
          in the Oxford museum of the history of science.
      </p>
      
      <p>
          <em class="overlay-title title-listen">Listen</em> to commentary from experts
      </p>
      
      <p>
          <em class="overlay-title title-watch">Watch</em> animations and demonstrations
      </p>
      
      <p>
          <em class="overlay-title title-try">Try</em> it yourself on your own device
      </p>
    </div>
    <div class="museum-logo">
      <img src="img/logo_mhs.png">
    <div>
</div>
