<div class="overlay-information">
    <h1>Pocket Curator</h1>
    
    <p>
        Answers your questions about some of the most
        important and interesting objects on display
        in the museum.
    </p>
    
    <p>
        <em>Listen</em> to commentary from experts
    </p>
    
    <p>
        <em>Watch</em> animations and demonstrations
    </p>
    
    <p>
        <em>Try</em> it yourself on your own device
    </p>
</div>
