<div class="trails-list-container">
    {{#each trails}}
        <a href='#trail/{{slug}}'>
            <img src="img/{{photograph}}">
            <div class="label">
                <div class="background"></div>
                <span>{{title}}</span>
            </div>
        </a>
    {{/each}}
</div>
