<div class="trails-list-container">
    {{#each trails}}
        <a href='#trail/{{slug}}'>
            <img src="img/{{photograph}}">
            <div class="label">
                <div class="background" id="{{slug}}-background"></div>
                <span>{{title}} <i class="fa fa-chevron-right"></i></span>
            </div>
        </a>
    {{/each}}
</div>
