<div class="video-player">
    <video class="" width="100%" height="auto" webkit-playsinline preload="auto" poster="img/{{imagePath}}">
        <source src="video/{{videoPath}}" type="video/mp4">
    </video>
    
    <div class="transport-controls">
        <div class="background"></div>
        <div class="container">
            <i class="fa fa-2x fa-fw fa-step-backward restart"></i>
            <span class="play-pause">
                <i class="fa fa-2x fa-fw fa-play play"></i>
                <i class="fa fa-2x fa-fw fa-pause pause"></i>
            </span>
        </div>
    </div>
</div>
